<div class="bt text-center my-5" #eleParent>
  <button class="btn btn-success" #ele (click)="changeBtnColor($event)">But_One{{x}}</button>
  <button class="btn btn-success" #ele (click)="changeBtnColor($event)">But_Two</button>
  <button class="btn btn-success" #ele (click)="changeBtnColor($event)">But_Three</button>
  <button class="btn btn-success" #ele (click)="changeBtnColor($event)">But_Four</button>
  <button class="btn btn-success" #ele (click)="changeBtnColor($event)">But_Five</button>
  <button class="btn btn-success" #ele (click)="changeBtnColor($event)">But_Six</button>
  <button class="btn btn-success" #ele (click)="changeBtnColor($event)">But_Seven</button>
  <button class="btn btn-success" #ele (click)="changeBtnColor($event)">But_Eight</button>
</div>
