<h1 class="text-bg-danger text-center mt-5">login works!</h1>

<div class="f mt-3 col-md-6 col-sm-8 col-10 m-auto">
  <h1 class="text-bg-danger text-center" *ngIf="gaurdValue">{{gaurdValue}}</h1>
  <h1 class="text-center">Login</h1>
  <!-- <form class="py-4 px-2 rounded rounded-3 bg-info bg-opacity-50" (ngSubmit)="onSubmitt($event)"> -->
  <form
    class="py-4 px-2 rounded rounded-3 bg-info bg-opacity-50"
    (ngSubmit)="onSubmitt($event)"
  >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        [(ngModel)]="email"
      />
      <p class="text-danger" *ngIf="validateEmail">{{validateEmail}}</p>

      <!--Notes 
            1- If ngForm is used, all the input fields which have 
                [(ngModel)]="" must have an attribute name="" with a value.

                    OR

            2- By setting [ngModelOptions]="{standalone: true}" 
                one tells Angular something like, ignore the form and/or ngForm
      -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        [(ngModel)]="password"
      />
      <p class="text-danger" *ngIf="validatePassword">{{validatePassword}}</p>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="mb-3 form-check">
      <h3>Dont have Email? <a class="text-danger" [routerLink]="['/service-gaurd/registerGaurd']" >Register</a></h3>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="tbb mt-3 text-center">
    <button class="btn btn-danger" (click)="backFun()">Back</button>
  </div>
</div>
