<!-- The General Form  -->
<div class="templateDrivenForm py-4">
  <h1 class="text-center">Template Driven Form</h1>
  <div class="">
    <form class="">
      <div
        class="left px-3 py-5 rounded rounded-4 border border-1 border-black bg-danger bg-opacity-50"
      >
        <div class="mb-3">
          <label class="form-label w-100"
            ><span class="fw-bold">First Name : </span>
            <input
              type="text"
              class="form-control mt-2"
              name="fname"
              aria-describedby="fnamelHelp"
            />
          </label>
          <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
        </div>
        <div class="mb-3">
          <label class="form-label w-100"
            ><span class="fw-bold">Last Name : </span>
            <input
              type="text"
              class="form-control mt-2"
              name="lname"
              aria-describedby="lnamelHelp"
            />
          </label>
          <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
        </div>
        <div class="mb-3">
          <label class="form-label w-100">
            <span class="fw-bold">Email address : </span>

            <input
              type="email"
              class="form-control mt-2"
              name="email"
              aria-describedby="emailHelp"
            />
          </label>
          <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
        </div>
        <div class="mb-3">
          <label class="form-label w-100"
            ><span class="fw-bold"> Mobile Number : </span>
            <input
              type="tel"
              class="form-control mt-2"
              name="mobile"
              aria-describedby="phonlHelp"
            />
          </label>
          <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
        </div>
        <div class="mb-3">
          <label class="form-label w-100">
            <span class="fw-bold"> The Salary :</span>
            <input
              type="number"
              class="form-control mt-2"
              name="salary"
              aria-describedby="salaryHelp"
            />
          </label>
          <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
        </div>
        <div class="mb-3 w-100">
          <label class="form-label w-100">
            <span class="fw-bold"> Password </span>
            <input
              type="password"
              name="password"
              class="form-control mt-2 w-100"
            />
          </label>
          <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
        </div>
        <div class="mb-3 w-100">
          <label class="form-label w-100">
            <span class="fw-bold">Confirm-Password </span>
            <input
              type="password"
              name="confirmPassword"
              class="form-control mt-2 w-100"
            />
          </label>
          <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
        </div>

        <div class="mb-3">
          <label class="form-label w-100">
            <span class="fw-bold"> Image :</span>
            <input
              type="file"
              class="form-control mt-2"
              name="image"
              aria-describedby="salaryHelp"
            />
          </label>
          <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
        </div>
      </div>
      <div class="mb-3 form-check bg-info bg-opacity-50 px-3 py-4 rounded-2">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input ps-0 ms-0" />
          <span class="fw-bold ms-1">Check me out</span></label
        >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<!-- The General Form With Two Part -->
<div class="templateDrivenForm py-4">
  <h1 class="text-center">Template Driven Form</h1>
  <div class="">
    <form class="">
      <div class="row">
        <div class="col-md-6">
          <div
            class="left px-3 py-5 rounded rounded-4 border border-1 border-black bg-danger bg-opacity-50"
          >
            <div class="mb-3">
              <label class="form-label w-100"
                ><span class="fw-bold">First Name : </span>
                <input
                  type="text"
                  class="form-control mt-2"
                  name="fname"
                  aria-describedby="fnamelHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100"
                ><span class="fw-bold">Last Name : </span>
                <input
                  type="text"
                  class="form-control mt-2"
                  name="lname"
                  aria-describedby="lnamelHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100">
                <span class="fw-bold">Email address : </span>

                <input
                  type="email"
                  class="form-control mt-2"
                  name="email"
                  aria-describedby="emailHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100"
                ><span class="fw-bold"> Mobile Number : </span>
                <input
                  type="tel"
                  class="form-control mt-2"
                  name="mobile"
                  aria-describedby="phonlHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100">
                <span class="fw-bold"> The Salary :</span>
                <input
                  type="number"
                  class="form-control mt-2"
                  name="salary"
                  aria-describedby="salaryHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3 w-100">
              <label class="form-label w-100">
                <span class="fw-bold"> Password </span>
                <input
                  type="password"
                  name="password"
                  class="form-control mt-2 w-100"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3 w-100">
              <label class="form-label w-100">
                <span class="fw-bold">Confirm-Password </span>
                <input
                  type="password"
                  name="confirmPassword"
                  class="form-control mt-2 w-100"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>

            <div class="mb-3">
              <label class="form-label w-100">
                <span class="fw-bold"> Image :</span>
                <input
                  type="file"
                  class="form-control mt-2"
                  name="image"
                  aria-describedby="salaryHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="right px-3 py-5 rounded rounded-4 border border-1 border-black"
          >
            <div
              class="mb-3 w-100 bg-primary bg-opacity-50 px-3 py-4 rounded-2"
            >
              <div class="fw-bold mb-3">Language checkbox:</div>
              <div class="d-flex flex-column align-items-start">
                <label class="mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="languageCheck"
                    value="Arabic"
                    aria-describedby="arabicHelp"
                  />
                  <span class="fw-bold ms-1">Arabic</span>
                </label>
                <label class="mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="languageCheck"
                    value="English"
                    aria-describedby="englishHelp"
                  />
                  <span class="fw-bold ms-1">English</span>
                </label>
                <label class="mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="languageCheck"
                    value="Spain"
                    aria-describedby="spainHelp"
                  />
                  <span class="fw-bold ms-1">Spain</span>
                </label>
              </div>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <hr />
            <div
              class="mb-3 w-100 bg-warning bg-opacity-50 px-3 py-4 rounded-2"
            >
              <label class="form-label d-flex align-items-center">
                <div class="fw-bold mb-0">Sports :</div>
                <select
                  class="form-select ms-2 w-50"
                  name="sportsSelect"
                  aria-label="Default select example"
                >
                  <option selected value="all">All</option>
                  <option value="football">Football</option>
                  <option value="tennis">Tennis</option>
                  <option value="vollyBall">VollyBall</option>
                </select>
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <hr />
            <div
              class="mb-3 form-label w-100 bg-success bg-opacity-50 px-3 py-4 rounded-2"
            >
              <div class="fw-bold mb-3">City radio :</div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="city"
                    value="cairo"
                  />
                  Cairo
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="city"
                    value="giza"
                  />
                  Giza
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="city"
                    value="alex"
                  />
                  Alex
                </label>
              </div>

              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <hr />
            <div
              class="mb-3 form-check bg-info bg-opacity-50 px-3 py-4 rounded-2"
            >
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input ps-0 ms-0" />
                <span class="fw-bold ms-1">Check me out</span></label
              >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- The Template Driven Form -->
<div class="templateDrivenForm py-4">
  <h1 class="text-center">Template Driven Form</h1>
  <div class="">
    <form class="">
      <div class="row">
        <div class="col-md-6">
          <div
            class="left px-3 py-5 rounded rounded-4 border border-1 border-black bg-danger bg-opacity-50"
          >
            <div class="mb-3">
              <label class="form-label w-100"
                ><span class="fw-bold">First Name : </span>
                <input
                  type="text"
                  class="form-control mt-2"
                  name="fname"
                  aria-describedby="fnamelHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100"
                ><span class="fw-bold">Last Name : </span>
                <input
                  type="text"
                  class="form-control mt-2"
                  name="lname"
                  aria-describedby="lnamelHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100">
                <span class="fw-bold">Email address : </span>

                <input
                  type="email"
                  class="form-control mt-2"
                  name="email"
                  aria-describedby="emailHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100"
                ><span class="fw-bold"> Mobile Number : </span>
                <input
                  type="tel"
                  class="form-control mt-2"
                  name="mobile"
                  aria-describedby="phonlHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100">
                <span class="fw-bold"> The Salary :</span>
                <input
                  type="number"
                  class="form-control mt-2"
                  name="salary"
                  aria-describedby="salaryHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3 w-100">
              <label class="form-label w-100">
                <span class="fw-bold"> Password </span>
                <input
                  type="password"
                  name="password"
                  class="form-control mt-2 w-100"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3 w-100">
              <label class="form-label w-100">
                <span class="fw-bold">Confirm-Password </span>
                <input
                  type="password"
                  name="confirmPassword"
                  class="form-control mt-2 w-100"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>

            <div class="mb-3">
              <label class="form-label w-100">
                <span class="fw-bold"> Image :</span>
                <input
                  type="file"
                  class="form-control mt-2"
                  name="image"
                  aria-describedby="salaryHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="right px-3 py-5 rounded rounded-4 border border-1 border-black"
          >
            <div
              class="mb-3 w-100 bg-primary bg-opacity-50 px-3 py-4 rounded-2"
            >
              <div class="fw-bold mb-3">Language checkbox:</div>
              <div class="d-flex flex-column align-items-start">
                <label class="mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="languageCheck"
                    value="Arabic"
                    aria-describedby="arabicHelp"
                  />
                  <span class="fw-bold ms-1">Arabic</span>
                </label>
                <label class="mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="languageCheck"
                    value="English"
                    aria-describedby="englishHelp"
                  />
                  <span class="fw-bold ms-1">English</span>
                </label>
                <label class="mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="languageCheck"
                    value="Spain"
                    aria-describedby="spainHelp"
                  />
                  <span class="fw-bold ms-1">Spain</span>
                </label>
              </div>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <hr />
            <div
              class="mb-3 w-100 bg-warning bg-opacity-50 px-3 py-4 rounded-2"
            >
              <label class="form-label d-flex align-items-center">
                <div class="fw-bold mb-0">Sports :</div>
                <select
                  class="form-select ms-2 w-50"
                  name="sportsSelect"
                  aria-label="Default select example"
                >
                  <option selected value="all">All</option>
                  <option value="football">Football</option>
                  <option value="tennis">Tennis</option>
                  <option value="vollyBall">VollyBall</option>
                </select>
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <hr />
            <div
              class="mb-3 form-label w-100 bg-success bg-opacity-50 px-3 py-4 rounded-2"
            >
              <div class="fw-bold mb-3">City radio :</div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="city"
                    value="cairo"
                  />
                  Cairo
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="city"
                    value="giza"
                  />
                  Giza
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="city"
                    value="alex"
                  />
                  Alex
                </label>
              </div>

              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <hr />
            <div
              class="mb-3 form-check bg-info bg-opacity-50 px-3 py-4 rounded-2"
            >
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input ps-0 ms-0" />
                <span class="fw-bold ms-1">Check me out</span></label
              >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- The reactiv Form -->
<div class="templateDrivenForm py-4">
  <h1 class="text-center">Template Driven Form</h1>
  <div class="">
    <form class="">
      <div class="row">
        <div class="col-md-6">
          <div
            class="left px-3 py-5 rounded rounded-4 border border-1 border-black bg-danger bg-opacity-50"
          >
            <div class="mb-3">
              <label class="form-label w-100"
                ><span class="fw-bold">First Name : </span>
                <input
                  type="text"
                  class="form-control mt-2"
                  name="fname"
                  aria-describedby="fnamelHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100"
                ><span class="fw-bold">Last Name : </span>
                <input
                  type="text"
                  class="form-control mt-2"
                  name="lname"
                  aria-describedby="lnamelHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100">
                <span class="fw-bold">Email address : </span>

                <input
                  type="email"
                  class="form-control mt-2"
                  name="email"
                  aria-describedby="emailHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100"
                ><span class="fw-bold"> Mobile Number : </span>
                <input
                  type="tel"
                  class="form-control mt-2"
                  name="mobile"
                  aria-describedby="phonlHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label w-100">
                <span class="fw-bold"> The Salary :</span>
                <input
                  type="number"
                  class="form-control mt-2"
                  name="salary"
                  aria-describedby="salaryHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3 w-100">
              <label class="form-label w-100">
                <span class="fw-bold"> Password </span>
                <input
                  type="password"
                  name="password"
                  class="form-control mt-2 w-100"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <div class="mb-3 w-100">
              <label class="form-label w-100">
                <span class="fw-bold">Confirm-Password </span>
                <input
                  type="password"
                  name="confirmPassword"
                  class="form-control mt-2 w-100"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>

            <div class="mb-3">
              <label class="form-label w-100">
                <span class="fw-bold"> Image :</span>
                <input
                  type="file"
                  class="form-control mt-2"
                  name="image"
                  aria-describedby="salaryHelp"
                />
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="right px-3 py-5 rounded rounded-4 border border-1 border-black"
          >
            <div
              class="mb-3 w-100 bg-primary bg-opacity-50 px-3 py-4 rounded-2"
            >
              <div class="fw-bold mb-3">Language checkbox:</div>
              <div class="d-flex flex-column align-items-start">
                <label class="mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="languageCheck"
                    value="Arabic"
                    aria-describedby="arabicHelp"
                  />
                  <span class="fw-bold ms-1">Arabic</span>
                </label>
                <label class="mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="languageCheck"
                    value="English"
                    aria-describedby="englishHelp"
                  />
                  <span class="fw-bold ms-1">English</span>
                </label>
                <label class="mb-2">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="languageCheck"
                    value="Spain"
                    aria-describedby="spainHelp"
                  />
                  <span class="fw-bold ms-1">Spain</span>
                </label>
              </div>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <hr />
            <div
              class="mb-3 w-100 bg-warning bg-opacity-50 px-3 py-4 rounded-2"
            >
              <label class="form-label d-flex align-items-center">
                <div class="fw-bold mb-0">Sports :</div>
                <select
                  class="form-select ms-2 w-50"
                  name="sportsSelect"
                  aria-label="Default select example"
                >
                  <option selected value="all">All</option>
                  <option value="football">Football</option>
                  <option value="tennis">Tennis</option>
                  <option value="vollyBall">VollyBall</option>
                </select>
              </label>
              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <hr />
            <div
              class="mb-3 form-label w-100 bg-success bg-opacity-50 px-3 py-4 rounded-2"
            >
              <div class="fw-bold mb-3">City radio :</div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="city"
                    value="cairo"
                  />
                  Cairo
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="city"
                    value="giza"
                  />
                  Giza
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="city"
                    value="alex"
                  />
                  Alex
                </label>
              </div>

              <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
            </div>
            <hr />
            <div
              class="mb-3 form-check bg-info bg-opacity-50 px-3 py-4 rounded-2"
            >
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input ps-0 ms-0" />
                <span class="fw-bold ms-1">Check me out</span></label
              >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
