<h1 class="my-5 text-center text-danger">
  CUSTOM-VALIDATORS-Component-checks-works!
</h1>

<form class="py-5" [formGroup]="formRadio" (ngSubmit)="onFormRadioSub()">
  <div class="row">
    <div class="col-md-6">
      <div
        class="p-3 bg-primary bg-opacity-50 rounded-3 border border-2 border-secondary"
      >
        <!-- The First Name Field > > >  -->
        <div class="mb-3">
          <label class="form-label w-100"
            ><span class="fw-bold">
              First Name <span class="text-danger fw-bold"> *</span>
            </span>
            <input
              type="text"
              class="form-control mt-2"
              id="fname"
              name="fname"
              formControlName="fname"
              placeholder="Enter Your First Name ."
              aria-describedby="fname"
            />
          </label>
          <div
            id="fname1"
            class="form-text"
            [hidden]="fname?.valid || fname?.untouched"
          >
            <p class="text-danger" *ngIf="fname?.errors?.['required']">
              REQUIRED !!!!
            </p>
            <p class="text-danger" *ngIf="fname?.errors?.['amazonCheck']">
              {{fname?.errors?.['amazonCheck'].value}}
            </p>
          </div>
        </div>

        <!-- The Last Name Field .. ... . -->
        <div class="mb-3">
          <label class="form-label w-100"
            ><span class="fw-bold mb-2">
              Last Name <span class="text-danger fw-bold"> *</span></span
            >
            <input
              type="text"
              class="form-control mt-2"
              id="lname"
              name="lname"
              formControlName="lname"
              placeholder="Enter Your Last Name"
              aria-describedby="lname"
            />
          </label>
          <div
            id="lname1"
            class="form-text"
            [hidden]="lname?.valid || lname?.untouched"
          >
            <p class="text-danger" *ngIf="lname?.errors?.['required']">
              REQUIRED !!!!
            </p>
          </div>
        </div>

        <!-- The Email Field .. ... . -->
        <div class="mb-3">
          <label class="form-label w-100"
            ><span class="fw-bold mb-2">
              Email <span class="text-danger fw-bold"> *</span></span
            >
            <input
              type="email"
              class="form-control mt-2"
              id="email"
              name="email"
              formControlName="email"
              placeholder="Enter Your Email Name"
              aria-describedby="email"
            />
          </label>
          <div
            id="email1"
            class="form-text"
            [hidden]="email?.valid || email?.untouched"
          >
            <p class="text-danger" *ngIf="email?.errors?.['required']">
              REQUIRED !!!!
            </p>
            <p class="text-danger" *ngIf="email?.errors?.['emailErrors']">
              {{email?.errors?.['emailErrors'].value}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="p-3 bg-warning bg-opacity-50 rounded-3 border border-2 border-primary"
      >
        <p class="text-danger fw-bold mb-2 text-center">
          Check Confirm Password Field :-
        </p>

        <!-- The Password Field -->
        <div class="mb-3">
          <label class="form-label w-100"
            ><span class="fw-bold mb-2">
              Password <span class="text-danger fw-bold">*</span></span
            >
            <input
              type="password"
              name="password"
              formControlName="password"
              placeholder="Enter Your Password"
              class="form-control mt-2"
              id="exampleInputPassword1"
            />
          </label>
          <div [hidden]="password?.valid || password?.untouched">
            <p class="text-danger" *ngIf="password?.errors?.['required']">
              REQUIREDD !! !!!! !!!!
            </p>
          </div>
        </div>

        <!-- The Confirm-Password Field -->
        <div class="mb-3">
          <label class="form-label w-100"
            ><span class="fw-bold mb-2">
              Confirm-Password <span class="text-danger fw-bold"> *</span></span
            >
            <input
              type="password"
              name="conPassword"
              formControlName="conPassword"
            
              placeholder="Enter Your Confirm Password"
              class="form-control mt-2"
              id="confirmPassw"
            />
          </label>
          <div class="" [hidden]=" conPassword?.untouched || conPassword?.value ==''">
            <p
              class="text-danger"
              *ngIf="conPassword?.errors?.['conPasswordCheck'] "
            >
              {{conPassword?.errors?.['conPasswordCheck'].value}}
            </p>
            <p
              class="text-danger"
              *ngIf="formRadio.errors?.['confrimErrors'] "
            >
              {{formRadio.errors?.['confrimErrors'].value}}
            </p>
          </div>
        </div>
        <hr />
        <div class="bb text-center">
          <button
            type="submit"
            [disabled]="formRadio.invalid"
            class="btn btn-primary"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
